<section id="team-leaders">
  <div class="leaders-grid">
    <div class="leader-box">
      <h3>Points Per Game (PPG)</h3>
      <ol>
        <li>Team Name - 0.0</li>
        <li>Team Name - 0.0</li>
        <li>Team Name - 0.0</li>
        <li>Team Name - 0.0</li>
        <li>Team Name - 0.0</li>
      </ol>
    </div>
    <div class="leader-box">
      <h3>Assists Per Game (APG)</h3>
      <ol>
        <li>Team Name - 0.0</li>
        <li>Team Name - 0.0</li>
        <li>Team Name - 0.0</li>
        <li>Team Name - 0.0</li>
        <li>Team Name - 0.0</li>
      </ol>
    </div>
    <div class="leader-box">
      <h3>Rebounds Per Game (RPG)</h3>
      <ol>
        <li>Team Name - 0.0</li>
        <li>Team Name - 0.0</li>
        <li>Team Name - 0.0</li>
        <li>Team Name - 0.0</li>
        <li>Team Name - 0.0</li>
      </ol>
    </div>
    <div class="leader-box">
      <h3>Steals Per Game (SPG)</h3>
      <ol>
        <li>Team Name - 0.0</li>
        <li>Team Name - 0.0</li>
        <li>Team Name - 0.0</li>
        <li>Team Name - 0.0</li>
        <li>Team Name - 0.0</li>
      </ol>
    </div>
    <div class="leader-box">
      <h3>Blocks Per Game (BPG)</h3>
      <ol>
        <li>Team Name - 0.0</li>
        <li>Team Name - 0.0</li>
        <li>Team Name - 0.0</li>
        <li>Team Name - 0.0</li>
        <li>Team Name - 0.0</li>
      </ol>
    </div>
    <div class="leader-box">
      <h3>Field Goal % (FG%)</h3>
      <ol>
        <li>Team Name - 0.0%</li>
        <li>Team Name - 0.0%</li>
        <li>Team Name - 0.0%</li>
        <li>Team Name - 0.0%</li>
        <li>Team Name - 0.0%</li>
      </ol>
    </div>
  </div>
</section>
