<header>
  <h1>NBA Predictor and Stats</h1>
  <div class="nav-buttons">
    <button (click)="showSection('standings')">Standings</button>
    <button (click)="showSection('league-leaders')">League Leaders</button>
    <button (click)="showSection('team-leaders')">Team Leaders</button>
    <button (click)="showSection('nba-predictor')">NBA Predictor</button>
  </div>
</header>
<main>
  <app-standings *ngIf="activeSection === 'standings'"></app-standings>
  <app-league-leaders *ngIf="activeSection === 'league-leaders'"></app-league-leaders>
  <app-team-leaders *ngIf="activeSection === 'team-leaders'"></app-team-leaders>
  <app-predictor *ngIf="activeSection === 'nba-predictor'"></app-predictor>
</main>
<footer>
  <p>&copy; 2025 NBA Predictor and Stats. All rights reserved.</p>
</footer>
