<div *ngIf="loading" class="loading">Loading league leaders...</div>
<div *ngIf="error" class="error">{{ error }}</div>

<div *ngIf="!loading && !error" class="leaders-grid">
  <div *ngFor="let category of categories; trackBy: trackByIndex" class="leader-card">
    <h3>{{ category.label }}</h3>
    <ul>
      <li *ngFor="let player of data[category.key]">
        <span *ngIf="!player.error">
          {{ player.player }} ({{ player.team }}) -
          {{ player.value | number:'1.0-2' }}{{ category.key === 'FT_PCT' ? '%' : '' }}
        </span>
        <span *ngIf="player.error" class="error">{{ player.error }}</span>
      </li>
    </ul>
  </div>
</div>
